.container {
    /* border: 3px solid;*/
    width: 100%;
}


/*
.bordureRouge {
    border: 3px solid red;
    padding: 10px;
}

.bordureVerte {
    border: 3px solid green;
    padding: 10px;
}

.bordureBleue {
    border: 3px solid blue;
    padding: 10px;
}

.bordureJaune {
    border: 3px solid yellow;
    padding: 10px;
}

.bordureOrange {
    border: 3px solid orange;
    padding: 10px;
}
*/

.header-1,
.header-2,
.header-3 {
    min-height: 100px;
}

.section-1,
.section-2,
.section-3 {
    min-height: 400px;
}